body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:60px;
  width:580px;
  height:240px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:240px;
}
#u1 {
  position:absolute;
  left:2px;
  top:112px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:128px;
  top:72px;
  width:53px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:110px;
  top:90px;
  width:580px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:563px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:580px;
  height:1px;
}
#u5 {
  position:absolute;
  left:143px;
  top:127px;
  width:66px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:460px;
  top:260px;
  width:76px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:550px;
  top:260px;
  width:76px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:141px;
  top:174px;
  width:66px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:238px;
  top:127px;
  width:157px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:236px;
  top:171px;
  width:255px;
  height:22px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13_input:disabled {
  color:grayText;
}
