body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:50px;
  top:0px;
  width:1100px;
  height:930px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:930px;
}
#u2 {
  position:absolute;
  left:2px;
  top:457px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:80px;
  top:80px;
  width:265px;
  height:137px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:79px;
  top:0px;
  width:84px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:163px;
  top:0px;
  width:97px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:36px;
  width:79px;
  height:36px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:79px;
  top:36px;
  width:84px;
  height:36px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:163px;
  top:36px;
  width:97px;
  height:36px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:72px;
  width:79px;
  height:30px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:79px;
  top:72px;
  width:84px;
  height:30px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:163px;
  top:72px;
  width:97px;
  height:30px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:102px;
  width:79px;
  height:30px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:79px;
  top:102px;
  width:84px;
  height:30px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:163px;
  top:102px;
  width:97px;
  height:30px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:80px;
  top:25px;
  width:100px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u29 {
  position:absolute;
  left:210px;
  top:25px;
  width:100px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u30 {
  position:absolute;
  left:380px;
  top:80px;
  width:530px;
  height:380px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:380px;
}
#u31 {
  position:absolute;
  left:2px;
  top:182px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:580px;
  top:205px;
  width:100px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u33 {
  position:absolute;
  left:580px;
  top:249px;
  width:100px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u34 {
  position:absolute;
  left:400px;
  top:126px;
  width:160px;
  height:274px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:274px;
}
#u35 {
  position:absolute;
  left:2px;
  top:129px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:340px;
  top:25px;
  width:100px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u37 {
  position:absolute;
  left:415px;
  top:140px;
  width:132px;
  height:185px;
}
#u37_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u39 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u39_img.selected {
}
#u39.selected {
}
#u40 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u42 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u38_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43 {
  position:absolute;
  left:20px;
  top:20px;
  width:81px;
  height:20px;
}
#u44 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u44_img.selected {
}
#u44.selected {
}
#u45 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:22px;
  top:0px;
  width:59px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
}
#u47 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u43_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48 {
  position:absolute;
  left:20px;
  top:20px;
  width:87px;
  height:20px;
}
#u49 {
  position:absolute;
  left:22px;
  top:0px;
  width:65px;
  height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u50 {
  position:absolute;
  left:3px;
  top:2px;
  width:60px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:20px;
  top:40px;
  width:87px;
  height:20px;
}
#u52 {
  position:absolute;
  left:22px;
  top:0px;
  width:65px;
  height:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u53 {
  position:absolute;
  left:3px;
  top:2px;
  width:60px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:20px;
  top:60px;
  width:87px;
  height:20px;
}
#u55 {
  position:absolute;
  left:22px;
  top:0px;
  width:65px;
  height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u56 {
  position:absolute;
  left:3px;
  top:2px;
  width:60px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:20px;
  top:80px;
  width:87px;
  height:20px;
}
#u58 {
  position:absolute;
  left:22px;
  top:0px;
  width:65px;
  height:20px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u59 {
  position:absolute;
  left:3px;
  top:2px;
  width:60px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:20px;
  top:120px;
  width:81px;
  height:20px;
}
#u61 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u61_img.selected {
}
#u61.selected {
}
#u62 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:22px;
  top:0px;
  width:59px;
  height:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
}
#u64 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u60_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65 {
  position:absolute;
  left:20px;
  top:20px;
  width:67px;
  height:20px;
}
#u66 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u67 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:20px;
  top:40px;
  width:67px;
  height:20px;
}
#u69 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u70 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:400px;
  top:100px;
  width:66px;
  height:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:720px;
  top:100px;
  width:53px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:710px;
  top:126px;
  width:165px;
  height:314px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u77 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u79 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:0px;
  top:36px;
  width:80px;
  height:30px;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:80px;
  top:36px;
  width:80px;
  height:30px;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:0px;
  top:66px;
  width:80px;
  height:30px;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:80px;
  top:66px;
  width:80px;
  height:30px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:0px;
  top:96px;
  width:80px;
  height:30px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:80px;
  top:96px;
  width:80px;
  height:30px;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u91 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:0px;
  top:126px;
  width:80px;
  height:30px;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u93 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:80px;
  top:126px;
  width:80px;
  height:30px;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u95 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:0px;
  top:156px;
  width:80px;
  height:41px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:41px;
}
#u97 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:80px;
  top:156px;
  width:80px;
  height:41px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:41px;
}
#u99 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:0px;
  top:197px;
  width:80px;
  height:28px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u101 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:80px;
  top:197px;
  width:80px;
  height:28px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u103 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:0px;
  top:225px;
  width:80px;
  height:28px;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u105 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:80px;
  top:225px;
  width:80px;
  height:28px;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u107 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:0px;
  top:253px;
  width:80px;
  height:28px;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u109 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:80px;
  top:253px;
  width:80px;
  height:28px;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u111 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:0px;
  top:281px;
  width:80px;
  height:28px;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u113 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:80px;
  top:281px;
  width:80px;
  height:28px;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u115 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
