body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:50px;
  top:0px;
  width:960px;
  height:2760px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:2760px;
}
#u3 {
  position:absolute;
  left:2px;
  top:1372px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:51px;
  top:5px;
  width:50px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:153px;
  top:18px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:255px;
  top:18px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:399px;
  top:18px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:779px;
  top:10px;
  width:100px;
  height:40px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u15 {
  position:absolute;
  left:909px;
  top:10px;
  width:100px;
  height:40px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u16 {
  position:absolute;
  left:50px;
  top:80px;
  width:960px;
  height:340px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:340px;
}
#u17 {
  position:absolute;
  left:2px;
  top:162px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_ann {
  position:absolute;
  left:1003px;
  top:76px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:150px;
  top:678px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:150px;
  top:609px;
  width:289px;
  height:37px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:37px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:520px;
  top:460px;
  width:420px;
  height:550px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:550px;
}
#u24 {
  position:absolute;
  left:2px;
  top:267px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:700px;
  top:1368px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:700px;
  top:1299px;
  width:257px;
  height:37px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:150px;
  top:1110px;
  width:420px;
  height:550px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:550px;
}
#u31 {
  position:absolute;
  left:2px;
  top:267px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:272px;
  top:2720px;
  width:403px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:480px;
  top:173px;
  width:440px;
  height:37px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:37px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:610px;
  top:240px;
  width:160px;
  height:45px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u38 {
  position:absolute;
  left:150px;
  top:2018px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:150px;
  top:1949px;
  width:289px;
  height:37px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:37px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:520px;
  top:1800px;
  width:420px;
  height:550px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:550px;
}
#u43 {
  position:absolute;
  left:2px;
  top:267px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
