body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:50px;
  top:0px;
  width:1100px;
  height:930px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:930px;
}
#u2 {
  position:absolute;
  left:2px;
  top:457px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:110px;
  top:69px;
  width:435px;
  height:239px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:88px;
  top:0px;
  width:199px;
  height:30px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:287px;
  top:0px;
  width:143px;
  height:30px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:30px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:88px;
  top:30px;
  width:199px;
  height:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:287px;
  top:30px;
  width:143px;
  height:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:60px;
  width:88px;
  height:30px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:88px;
  top:60px;
  width:199px;
  height:30px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:287px;
  top:60px;
  width:143px;
  height:30px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:90px;
  width:88px;
  height:36px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:88px;
  top:90px;
  width:199px;
  height:36px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:36px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:195px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:287px;
  top:90px;
  width:143px;
  height:36px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:126px;
  width:88px;
  height:36px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:88px;
  top:126px;
  width:199px;
  height:36px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:36px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:195px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:287px;
  top:126px;
  width:143px;
  height:36px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:139px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:162px;
  width:88px;
  height:36px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:88px;
  top:162px;
  width:199px;
  height:36px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:36px;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:195px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:287px;
  top:162px;
  width:143px;
  height:36px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u39 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:198px;
  width:88px;
  height:36px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u41 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:88px;
  top:198px;
  width:199px;
  height:36px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:36px;
}
#u43 {
  position:absolute;
  left:2px;
  top:10px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:287px;
  top:198px;
  width:143px;
  height:36px;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u45 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:113px;
  top:25px;
  width:100px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u47 {
  position:absolute;
  left:241px;
  top:25px;
  width:100px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
