body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:66px;
  top:80px;
  width:914px;
  height:299px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:914px;
  height:299px;
}
#u1 {
  position:absolute;
  left:2px;
  top:142px;
  width:910px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:70px;
  top:34px;
  width:300px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:66px;
  top:420px;
  width:220px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:89px;
  top:451px;
  width:220px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:91px;
  top:861px;
  width:220px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:91px;
  top:478px;
  width:679px;
  height:364px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:364px;
}
#u11 {
  position:absolute;
  left:2px;
  top:174px;
  width:675px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:98px;
  top:893px;
  width:515px;
  height:19px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:19px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  white-space:nowrap;
}
