body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:50px;
  top:0px;
  width:1100px;
  height:930px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:930px;
}
#u2 {
  position:absolute;
  left:2px;
  top:457px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:66px;
  top:80px;
  width:914px;
  height:299px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:914px;
  height:299px;
}
#u4 {
  position:absolute;
  left:2px;
  top:142px;
  width:910px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:70px;
  top:34px;
  width:300px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:66px;
  top:420px;
  width:220px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:89px;
  top:451px;
  width:220px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:91px;
  top:861px;
  width:220px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:91px;
  top:478px;
  width:679px;
  height:364px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:364px;
}
#u14 {
  position:absolute;
  left:2px;
  top:174px;
  width:675px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:98px;
  top:893px;
  width:515px;
  height:19px;
  font-size:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:19px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  white-space:nowrap;
}
