body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:100px;
  top:0px;
  width:1250px;
  height:1000px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:1000px;
}
#u2 {
  position:absolute;
  left:2px;
  top:492px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:120px;
  top:69px;
  width:487px;
  height:206px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:75px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:75px;
}
#u5 {
  position:absolute;
  left:2px;
  top:30px;
  width:67px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:71px;
  top:0px;
  width:69px;
  height:75px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:75px;
}
#u7 {
  position:absolute;
  left:2px;
  top:30px;
  width:65px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:140px;
  top:0px;
  width:91px;
  height:75px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:75px;
}
#u9 {
  position:absolute;
  left:2px;
  top:30px;
  width:87px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:231px;
  top:0px;
  width:68px;
  height:75px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:75px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:64px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:299px;
  top:0px;
  width:69px;
  height:75px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:75px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:65px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:368px;
  top:0px;
  width:75px;
  height:75px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:71px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:443px;
  top:0px;
  width:97px;
  height:75px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:75px;
}
#u17 {
  position:absolute;
  left:2px;
  top:30px;
  width:93px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:75px;
  width:71px;
  height:44px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:44px;
}
#u19 {
  position:absolute;
  left:2px;
  top:14px;
  width:67px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:71px;
  top:75px;
  width:69px;
  height:44px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:44px;
}
#u21 {
  position:absolute;
  left:2px;
  top:14px;
  width:65px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:140px;
  top:75px;
  width:91px;
  height:44px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:44px;
}
#u23 {
  position:absolute;
  left:2px;
  top:14px;
  width:87px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:231px;
  top:75px;
  width:68px;
  height:44px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:44px;
}
#u25 {
  position:absolute;
  left:2px;
  top:14px;
  width:64px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:299px;
  top:75px;
  width:69px;
  height:44px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:44px;
}
#u27 {
  position:absolute;
  left:2px;
  top:14px;
  width:65px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:368px;
  top:75px;
  width:75px;
  height:44px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:44px;
}
#u29 {
  position:absolute;
  left:2px;
  top:14px;
  width:71px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:443px;
  top:75px;
  width:97px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#008000;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:44px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:119px;
  width:71px;
  height:30px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:71px;
  top:119px;
  width:69px;
  height:30px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:140px;
  top:119px;
  width:91px;
  height:30px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:231px;
  top:119px;
  width:68px;
  height:30px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:299px;
  top:119px;
  width:69px;
  height:30px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:368px;
  top:119px;
  width:75px;
  height:30px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:443px;
  top:119px;
  width:97px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#008000;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:149px;
  width:71px;
  height:52px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:52px;
}
#u47 {
  position:absolute;
  left:2px;
  top:18px;
  width:67px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:71px;
  top:149px;
  width:69px;
  height:52px;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:52px;
}
#u49 {
  position:absolute;
  left:2px;
  top:18px;
  width:65px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:140px;
  top:149px;
  width:91px;
  height:52px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:52px;
}
#u51 {
  position:absolute;
  left:2px;
  top:18px;
  width:87px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:231px;
  top:149px;
  width:68px;
  height:52px;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:52px;
}
#u53 {
  position:absolute;
  left:2px;
  top:18px;
  width:64px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:299px;
  top:149px;
  width:69px;
  height:52px;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:52px;
}
#u55 {
  position:absolute;
  left:2px;
  top:18px;
  width:65px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:368px;
  top:149px;
  width:75px;
  height:52px;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:52px;
}
#u57 {
  position:absolute;
  left:2px;
  top:18px;
  width:71px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:443px;
  top:149px;
  width:97px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#008000;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:52px;
}
#u59 {
  position:absolute;
  left:2px;
  top:16px;
  width:93px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:120px;
  top:34px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
