body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:100px;
  top:0px;
  width:1100px;
  height:800px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:800px;
}
#u2 {
  position:absolute;
  left:2px;
  top:392px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:126px;
  top:10px;
  width:648px;
  height:70px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:70px;
}
#u4 {
  position:absolute;
  left:2px;
  top:27px;
  width:644px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:200px;
  top:30px;
  width:70px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:146px;
  top:34px;
  width:53px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:590px;
  top:30px;
  width:60px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:126px;
  top:130px;
  width:589px;
  height:101px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:181px;
  top:0px;
  width:86px;
  height:36px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:267px;
  top:0px;
  width:81px;
  height:36px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:348px;
  top:0px;
  width:65px;
  height:36px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:36px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:413px;
  top:0px;
  width:97px;
  height:36px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:510px;
  top:0px;
  width:74px;
  height:36px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:36px;
  width:181px;
  height:30px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:181px;
  top:36px;
  width:86px;
  height:30px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:267px;
  top:36px;
  width:81px;
  height:30px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:348px;
  top:36px;
  width:65px;
  height:30px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:413px;
  top:36px;
  width:97px;
  height:30px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:510px;
  top:36px;
  width:74px;
  height:30px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:66px;
  width:181px;
  height:30px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:181px;
  top:66px;
  width:86px;
  height:30px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:267px;
  top:66px;
  width:81px;
  height:30px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:348px;
  top:66px;
  width:65px;
  height:30px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:413px;
  top:66px;
  width:97px;
  height:30px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:510px;
  top:66px;
  width:74px;
  height:30px;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:360px;
  top:29px;
  width:70px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u47 {
  position:absolute;
  left:306px;
  top:33px;
  width:40px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
