body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:100px;
  top:0px;
  width:1100px;
  height:800px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:800px;
}
#u2 {
  position:absolute;
  left:2px;
  top:392px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:126px;
  top:10px;
  width:648px;
  height:70px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:70px;
}
#u4 {
  position:absolute;
  left:2px;
  top:27px;
  width:644px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:204px;
  top:30px;
  width:70px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:138px;
  top:34px;
  width:66px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:342px;
  top:30px;
  width:70px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:288px;
  top:34px;
  width:53px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:590px;
  top:30px;
  width:60px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12 {
  position:absolute;
  left:126px;
  top:130px;
  width:716px;
  height:101px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:68px;
  top:0px;
  width:62px;
  height:36px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:130px;
  top:0px;
  width:60px;
  height:36px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:190px;
  top:0px;
  width:59px;
  height:36px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:36px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:249px;
  top:0px;
  width:61px;
  height:36px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:310px;
  top:0px;
  width:68px;
  height:36px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:378px;
  top:0px;
  width:68px;
  height:36px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:446px;
  top:0px;
  width:66px;
  height:36px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:512px;
  top:0px;
  width:65px;
  height:36px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:577px;
  top:0px;
  width:65px;
  height:36px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:36px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:642px;
  top:0px;
  width:69px;
  height:36px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:36px;
  width:68px;
  height:30px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:68px;
  top:36px;
  width:62px;
  height:30px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:130px;
  top:36px;
  width:60px;
  height:30px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:190px;
  top:36px;
  width:59px;
  height:30px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:249px;
  top:36px;
  width:61px;
  height:30px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:57px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:310px;
  top:36px;
  width:68px;
  height:30px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:378px;
  top:36px;
  width:68px;
  height:30px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:446px;
  top:36px;
  width:66px;
  height:30px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:512px;
  top:36px;
  width:65px;
  height:30px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:577px;
  top:36px;
  width:65px;
  height:30px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:642px;
  top:36px;
  width:69px;
  height:30px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:66px;
  width:68px;
  height:30px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:68px;
  top:66px;
  width:62px;
  height:30px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:130px;
  top:66px;
  width:60px;
  height:30px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:190px;
  top:66px;
  width:59px;
  height:30px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:249px;
  top:66px;
  width:61px;
  height:30px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:57px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:310px;
  top:66px;
  width:68px;
  height:30px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:378px;
  top:66px;
  width:68px;
  height:30px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:446px;
  top:66px;
  width:66px;
  height:30px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:512px;
  top:66px;
  width:65px;
  height:30px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:577px;
  top:66px;
  width:65px;
  height:30px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:642px;
  top:66px;
  width:69px;
  height:30px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
