body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:100px;
  top:0px;
  width:1100px;
  height:800px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:800px;
}
#u2 {
  position:absolute;
  left:2px;
  top:392px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:119px;
  top:60px;
  width:458px;
  height:96px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:31px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:31px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:52px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:56px;
  top:0px;
  width:69px;
  height:31px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:31px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:125px;
  top:0px;
  width:66px;
  height:31px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:31px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:191px;
  top:0px;
  width:140px;
  height:31px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:331px;
  top:0px;
  width:66px;
  height:31px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:31px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:397px;
  top:0px;
  width:56px;
  height:31px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:31px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:52px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:31px;
  width:56px;
  height:30px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:56px;
  top:31px;
  width:69px;
  height:30px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:125px;
  top:31px;
  width:66px;
  height:30px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:191px;
  top:31px;
  width:140px;
  height:30px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:331px;
  top:31px;
  width:66px;
  height:30px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:397px;
  top:31px;
  width:56px;
  height:30px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:61px;
  width:56px;
  height:30px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:56px;
  top:61px;
  width:69px;
  height:30px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:125px;
  top:61px;
  width:66px;
  height:30px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:191px;
  top:61px;
  width:140px;
  height:30px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:331px;
  top:61px;
  width:66px;
  height:30px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:397px;
  top:61px;
  width:56px;
  height:30px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:313px;
  top:95px;
  width:100px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:313px;
  top:95px;
  width:60px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:313px;
  top:125px;
  width:100px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:313px;
  top:125px;
  width:80px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:423px;
  top:95px;
  width:27px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:423px;
  top:127px;
  width:27px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:122px;
  top:210px;
  width:393px;
  height:95px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:300px;
  top:0px;
  width:88px;
  height:30px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:300px;
  top:30px;
  width:88px;
  height:30px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:300px;
  top:60px;
  width:88px;
  height:30px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:596px;
  top:60px;
  width:569px;
  height:101px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u79 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:70px;
  top:0px;
  width:87px;
  height:36px;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u81 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:157px;
  top:0px;
  width:63px;
  height:36px;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u83 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:220px;
  top:0px;
  width:62px;
  height:36px;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u85 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:282px;
  top:0px;
  width:60px;
  height:36px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u87 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:342px;
  top:0px;
  width:57px;
  height:36px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:36px;
}
#u89 {
  position:absolute;
  left:2px;
  top:10px;
  width:53px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:399px;
  top:0px;
  width:70px;
  height:36px;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u91 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:469px;
  top:0px;
  width:95px;
  height:36px;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u93 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:36px;
  width:70px;
  height:30px;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u95 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:70px;
  top:36px;
  width:87px;
  height:30px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u97 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:157px;
  top:36px;
  width:63px;
  height:30px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u99 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:220px;
  top:36px;
  width:62px;
  height:30px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u101 {
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:282px;
  top:36px;
  width:60px;
  height:30px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u103 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:342px;
  top:36px;
  width:57px;
  height:30px;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u105 {
  position:absolute;
  left:2px;
  top:7px;
  width:53px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:399px;
  top:36px;
  width:70px;
  height:30px;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u107 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:469px;
  top:36px;
  width:95px;
  height:30px;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u109 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:0px;
  top:66px;
  width:70px;
  height:30px;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u111 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:70px;
  top:66px;
  width:87px;
  height:30px;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u113 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:157px;
  top:66px;
  width:63px;
  height:30px;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u115 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:220px;
  top:66px;
  width:62px;
  height:30px;
  text-align:center;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u117 {
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:282px;
  top:66px;
  width:60px;
  height:30px;
  text-align:center;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u119 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:342px;
  top:66px;
  width:57px;
  height:30px;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u121 {
  position:absolute;
  left:2px;
  top:7px;
  width:53px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:399px;
  top:66px;
  width:70px;
  height:30px;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u123 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:469px;
  top:66px;
  width:95px;
  height:30px;
  text-align:center;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u125 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:119px;
  top:23px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:119px;
  top:176px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:596px;
  top:12px;
  width:141px;
  height:48px;
  font-size:20px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:48px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:595px;
  top:209px;
  width:498px;
  height:101px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
  text-align:center;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u134 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:70px;
  top:0px;
  width:87px;
  height:36px;
  text-align:center;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u136 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:157px;
  top:0px;
  width:63px;
  height:36px;
  text-align:center;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u138 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:220px;
  top:0px;
  width:62px;
  height:36px;
  text-align:center;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u140 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:282px;
  top:0px;
  width:60px;
  height:36px;
  text-align:center;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u142 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:342px;
  top:0px;
  width:57px;
  height:36px;
  text-align:center;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:36px;
}
#u144 {
  position:absolute;
  left:2px;
  top:10px;
  width:53px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:399px;
  top:0px;
  width:94px;
  height:36px;
  text-align:center;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u146 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:0px;
  top:36px;
  width:70px;
  height:30px;
  text-align:center;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u148 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:70px;
  top:36px;
  width:87px;
  height:30px;
  text-align:center;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u150 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:157px;
  top:36px;
  width:63px;
  height:30px;
  text-align:center;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u152 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:220px;
  top:36px;
  width:62px;
  height:30px;
  text-align:center;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u154 {
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:282px;
  top:36px;
  width:60px;
  height:30px;
  text-align:center;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u156 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:342px;
  top:36px;
  width:57px;
  height:30px;
  text-align:center;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u158 {
  position:absolute;
  left:2px;
  top:7px;
  width:53px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:399px;
  top:36px;
  width:94px;
  height:30px;
  text-align:center;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u160 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:0px;
  top:66px;
  width:70px;
  height:30px;
  text-align:center;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u162 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:70px;
  top:66px;
  width:87px;
  height:30px;
  text-align:center;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u164 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:157px;
  top:66px;
  width:63px;
  height:30px;
  text-align:center;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u166 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:220px;
  top:66px;
  width:62px;
  height:30px;
  text-align:center;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u168 {
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:282px;
  top:66px;
  width:60px;
  height:30px;
  text-align:center;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u170 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:342px;
  top:66px;
  width:57px;
  height:30px;
  text-align:center;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u172 {
  position:absolute;
  left:2px;
  top:7px;
  width:53px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:399px;
  top:66px;
  width:94px;
  height:30px;
  text-align:center;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u174 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:595px;
  top:172px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
