body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:2000px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:2000px;
}
#u2 {
  position:absolute;
  left:2px;
  top:992px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_ann {
  position:absolute;
  left:1003px;
  top:-4px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_ann {
  position:absolute;
  left:183px;
  top:-4px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:986px;
  top:25px;
  width:20px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:0px;
  top:50px;
  width:190px;
  height:478px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:478px;
}
#u9 {
  position:absolute;
  left:2px;
  top:231px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_ann {
  position:absolute;
  left:183px;
  top:46px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:70px;
  top:89px;
  width:49px;
  height:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:0px;
  top:127px;
  width:190px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:173px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u13 {
  position:absolute;
  left:30px;
  top:93px;
  width:20px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:70px;
  top:182px;
  width:97px;
  height:28px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:0px;
  top:220px;
  width:190px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:173px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u18 {
  position:absolute;
  left:30px;
  top:186px;
  width:20px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:70px;
  top:380px;
  width:97px;
  height:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:0px;
  top:418px;
  width:190px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:173px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u23 {
  position:absolute;
  left:30px;
  top:384px;
  width:20px;
  height:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:70px;
  top:287px;
  width:73px;
  height:28px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:0px;
  top:325px;
  width:190px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:173px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u28 {
  position:absolute;
  left:30px;
  top:291px;
  width:20px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:70px;
  top:480px;
  width:97px;
  height:28px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:0px;
  top:518px;
  width:190px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:173px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u33 {
  position:absolute;
  left:30px;
  top:484px;
  width:20px;
  height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:885px;
  top:16px;
  width:97px;
  height:28px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:190px;
  top:110px;
  width:820px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:803px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:820px;
  height:1px;
}
#u38 {
  position:absolute;
  left:215px;
  top:74px;
  width:107px;
  height:26px;
  font-size:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:220px;
  top:180px;
  width:750px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u41 {
  position:absolute;
  left:360px;
  top:137px;
  width:10px;
  height:50px;
}
#u41_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u41_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u41_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u42 {
  position:absolute;
  left:550px;
  top:137px;
  width:10px;
  height:50px;
}
#u42_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u42_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u42_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u43 {
  position:absolute;
  left:253px;
  top:149px;
  width:81px;
  height:26px;
  font-size:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:430px;
  top:149px;
  width:81px;
  height:26px;
  font-size:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:380px;
  top:76px;
  width:200px;
  height:22px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u47_input:disabled {
  color:grayText;
}
#u47_ann {
  position:absolute;
  left:573px;
  top:72px;
  width:1px;
  height:1px;
}
#u48 {
  position:absolute;
  left:260px;
  top:260px;
  width:600px;
  height:270px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:270px;
}
#u49 {
  position:absolute;
  left:2px;
  top:127px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:321px;
  top:312px;
  width:66px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:321px;
  top:474px;
  width:66px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:300px;
  top:420px;
  width:87px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:321px;
  top:363px;
  width:66px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:700px;
  top:205px;
  width:100px;
  height:25px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u58_ann {
  position:absolute;
  left:793px;
  top:201px;
  width:1px;
  height:1px;
}
#u59 {
  position:absolute;
  left:810px;
  top:205px;
  width:100px;
  height:25px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
