body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:50px;
  top:0px;
  width:1210px;
  height:1440px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:1440px;
}
#u2 {
  position:absolute;
  left:2px;
  top:712px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:50px;
  top:0px;
  width:960px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:50px;
  top:50px;
  width:220px;
  height:1390px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:1390px;
}
#u6 {
  position:absolute;
  left:2px;
  top:687px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:50px;
  top:0px;
  width:1210px;
  height:50px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:270px;
  top:110px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:370px;
  top:110px;
  width:100px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:270px;
  top:50px;
  width:100px;
  height:40px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:290px;
  top:190px;
  width:40px;
  height:29px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:344px;
  top:196px;
  width:27px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:430px;
  top:196px;
  width:53px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:344px;
  top:240px;
  width:149px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:579px;
  top:274px;
  width:54px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:399px;
  top:195px;
  width:4px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:298px;
  top:454px;
  width:40px;
  height:29px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:352px;
  top:460px;
  width:27px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:438px;
  top:460px;
  width:27px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:352px;
  top:504px;
  width:153px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:587px;
  top:538px;
  width:34px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:407px;
  top:459px;
  width:4px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:293px;
  top:310px;
  width:40px;
  height:29px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
}
#u40 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:347px;
  top:316px;
  width:27px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:433px;
  top:316px;
  width:53px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:347px;
  top:360px;
  width:185px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:582px;
  top:394px;
  width:47px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:402px;
  top:315px;
  width:4px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  white-space:nowrap;
}
