body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:100px;
  top:0px;
  width:1100px;
  height:800px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:800px;
}
#u2 {
  position:absolute;
  left:2px;
  top:392px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:150px;
  top:30px;
  width:742px;
  height:45px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:106px;
  top:0px;
  width:106px;
  height:40px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:212px;
  top:0px;
  width:106px;
  height:40px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:318px;
  top:0px;
  width:106px;
  height:40px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:424px;
  top:0px;
  width:100px;
  height:40px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:524px;
  top:0px;
  width:106px;
  height:40px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:630px;
  top:0px;
  width:107px;
  height:40px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:130px;
  top:60px;
  width:650px;
  height:320px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:320px;
}
#u19 {
  position:absolute;
  left:2px;
  top:152px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:140px;
  top:94px;
  width:66px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:216px;
  top:90px;
  width:116px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23 {
  position:absolute;
  left:358px;
  top:95px;
  width:79px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:436px;
  top:90px;
  width:116px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26 {
  position:absolute;
  left:580px;
  top:94px;
  width:66px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:656px;
  top:89px;
  width:116px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29 {
  position:absolute;
  left:140px;
  top:139px;
  width:66px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:216px;
  top:135px;
  width:116px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32 {
  position:absolute;
  left:359px;
  top:138px;
  width:66px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:435px;
  top:134px;
  width:116px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35 {
  position:absolute;
  left:580px;
  top:139px;
  width:40px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:656px;
  top:135px;
  width:116px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38 {
  position:absolute;
  left:140px;
  top:186px;
  width:66px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:216px;
  top:182px;
  width:116px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u41 {
  position:absolute;
  left:359px;
  top:186px;
  width:66px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:435px;
  top:182px;
  width:116px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44 {
  position:absolute;
  left:580px;
  top:186px;
  width:66px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:656px;
  top:182px;
  width:116px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u47 {
  position:absolute;
  left:140px;
  top:300px;
  width:53px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:216px;
  top:296px;
  width:116px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u50 {
  position:absolute;
  left:354px;
  top:300px;
  width:66px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:430px;
  top:296px;
  width:116px;
  height:25px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u53 {
  position:absolute;
  left:580px;
  top:300px;
  width:66px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:656px;
  top:296px;
  width:116px;
  height:25px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u56 {
  position:absolute;
  left:140px;
  top:338px;
  width:66px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:216px;
  top:334px;
  width:116px;
  height:25px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u59 {
  position:absolute;
  left:140px;
  top:264px;
  width:629px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:140px;
  top:233px;
  width:66px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:216px;
  top:229px;
  width:116px;
  height:25px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u64 {
  position:absolute;
  left:360px;
  top:237px;
  width:66px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:436px;
  top:233px;
  width:116px;
  height:25px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
