body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:50px;
  top:0px;
  width:850px;
  height:800px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:800px;
}
#u2 {
  position:absolute;
  left:2px;
  top:392px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:70px;
  top:13px;
  width:257px;
  height:37px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:50px;
  top:70px;
  width:850px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:833px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:850px;
  height:1px;
}
#u6 {
  position:absolute;
  left:90px;
  top:100px;
  width:790px;
  height:190px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:190px;
}
#u7 {
  position:absolute;
  left:2px;
  top:87px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:100px;
  top:110px;
  width:106px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:253px;
  top:110px;
  width:159px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:110px;
  top:150px;
  width:50px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:110px;
  top:220px;
  width:50px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:184px;
  top:160px;
  width:94px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:184px;
  top:230px;
  width:127px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:330px;
  top:160px;
  width:71px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:330px;
  top:230px;
  width:60px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:439px;
  top:230px;
  width:61px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:520px;
  top:145px;
  width:10px;
  height:115px;
}
#u26_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u26_end {
  position:absolute;
  left:-5px;
  top:98px;
  width:20px;
  height:18px;
}
#u26_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:115px;
}
#u27 {
  position:absolute;
  left:111px;
  top:202px;
  width:409px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:392px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:409px;
  height:1px;
}
#u28 {
  position:absolute;
  left:780px;
  top:194px;
  width:74px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:310px;
  top:145px;
  width:10px;
  height:115px;
}
#u30_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u30_end {
  position:absolute;
  left:-5px;
  top:98px;
  width:20px;
  height:18px;
}
#u30_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:115px;
}
#u31 {
  position:absolute;
  left:411px;
  top:145px;
  width:10px;
  height:115px;
}
#u31_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u31_end {
  position:absolute;
  left:-5px;
  top:98px;
  width:20px;
  height:18px;
}
#u31_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:115px;
}
#u32 {
  position:absolute;
  left:174px;
  top:145px;
  width:10px;
  height:115px;
}
#u32_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u32_end {
  position:absolute;
  left:-5px;
  top:98px;
  width:20px;
  height:18px;
}
#u32_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:115px;
}
#u33 {
  position:absolute;
  left:624px;
  top:145px;
  width:10px;
  height:115px;
}
#u33_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u33_end {
  position:absolute;
  left:-5px;
  top:98px;
  width:20px;
  height:18px;
}
#u33_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:115px;
}
#u34 {
  position:absolute;
  left:749px;
  top:144px;
  width:10px;
  height:115px;
}
#u34_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u34_end {
  position:absolute;
  left:-5px;
  top:98px;
  width:20px;
  height:18px;
}
#u34_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:115px;
}
#u35 {
  position:absolute;
  left:434px;
  top:160px;
  width:61px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:644px;
  top:178px;
  width:105px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:90px;
  top:320px;
  width:790px;
  height:120px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:120px;
}
#u40 {
  position:absolute;
  left:2px;
  top:52px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:100px;
  top:330px;
  width:106px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:253px;
  top:330px;
  width:159px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:110px;
  top:370px;
  width:50px;
  height:50px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u46 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:219px;
  top:380px;
  width:41px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:330px;
  top:380px;
  width:71px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:520px;
  top:365px;
  width:10px;
  height:65px;
}
#u51_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u51_end {
  position:absolute;
  left:-5px;
  top:48px;
  width:20px;
  height:18px;
}
#u51_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:65px;
}
#u52 {
  position:absolute;
  left:310px;
  top:365px;
  width:10px;
  height:65px;
}
#u52_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u52_end {
  position:absolute;
  left:-5px;
  top:48px;
  width:20px;
  height:18px;
}
#u52_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:65px;
}
#u53 {
  position:absolute;
  left:411px;
  top:365px;
  width:10px;
  height:65px;
}
#u53_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u53_end {
  position:absolute;
  left:-5px;
  top:48px;
  width:20px;
  height:18px;
}
#u53_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:65px;
}
#u54 {
  position:absolute;
  left:624px;
  top:365px;
  width:10px;
  height:65px;
}
#u54_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u54_end {
  position:absolute;
  left:-5px;
  top:48px;
  width:20px;
  height:18px;
}
#u54_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:65px;
}
#u55 {
  position:absolute;
  left:758px;
  top:364px;
  width:10px;
  height:65px;
}
#u55_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u55_end {
  position:absolute;
  left:-5px;
  top:48px;
  width:20px;
  height:18px;
}
#u55_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:65px;
}
#u56 {
  position:absolute;
  left:434px;
  top:380px;
  width:61px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:644px;
  top:380px;
  width:118px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:174px;
  top:365px;
  width:10px;
  height:65px;
}
#u60_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u60_end {
  position:absolute;
  left:-5px;
  top:48px;
  width:20px;
  height:18px;
}
#u60_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:65px;
}
#u61 {
  position:absolute;
  left:661px;
  top:204px;
  width:71px;
  height:25px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u62 {
  position:absolute;
  left:529px;
  top:194px;
  width:97px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:529px;
  top:380px;
  width:93px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:778px;
  top:380px;
  width:74px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
