body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:758px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:156px;
  top:8px;
  width:602px;
  height:401px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  height:401px;
}
#u1 {
  position:absolute;
  left:2px;
  top:192px;
  width:598px;
  visibility:hidden;
  word-wrap:break-word;
}
