body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:100px;
  top:-12px;
  width:1250px;
  height:1000px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:1000px;
}
#u2 {
  position:absolute;
  left:2px;
  top:492px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:120px;
  top:34px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:120px;
  top:82px;
  width:649px;
  height:113px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:36px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:36px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:300px;
  top:0px;
  width:180px;
  height:36px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:480px;
  top:0px;
  width:79px;
  height:36px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:559px;
  top:0px;
  width:85px;
  height:36px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:36px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:36px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:100px;
  top:36px;
  width:100px;
  height:36px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:200px;
  top:36px;
  width:100px;
  height:36px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:300px;
  top:36px;
  width:180px;
  height:36px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:480px;
  top:36px;
  width:79px;
  height:36px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:559px;
  top:36px;
  width:85px;
  height:36px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:36px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:72px;
  width:100px;
  height:36px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:100px;
  top:72px;
  width:100px;
  height:36px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u33 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:200px;
  top:72px;
  width:100px;
  height:36px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:300px;
  top:72px;
  width:180px;
  height:36px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:480px;
  top:72px;
  width:79px;
  height:36px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
}
#u39 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:559px;
  top:72px;
  width:85px;
  height:36px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:36px;
}
#u41 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
