body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:100px;
  top:0px;
  width:1100px;
  height:800px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:800px;
}
#u2 {
  position:absolute;
  left:2px;
  top:392px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:150px;
  top:30px;
  width:605px;
  height:45px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:106px;
  top:0px;
  width:106px;
  height:40px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:212px;
  top:0px;
  width:106px;
  height:40px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:318px;
  top:0px;
  width:106px;
  height:40px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:424px;
  top:0px;
  width:106px;
  height:40px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:530px;
  top:0px;
  width:70px;
  height:40px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:130px;
  top:70px;
  width:650px;
  height:430px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:430px;
}
#u17 {
  position:absolute;
  left:2px;
  top:207px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:140px;
  top:94px;
  width:66px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:226px;
  top:90px;
  width:116px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:358px;
  top:95px;
  width:66px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:446px;
  top:90px;
  width:116px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24 {
  position:absolute;
  left:580px;
  top:94px;
  width:53px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:656px;
  top:89px;
  width:116px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27 {
  position:absolute;
  left:140px;
  top:139px;
  width:83px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:226px;
  top:135px;
  width:116px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30 {
  position:absolute;
  left:359px;
  top:138px;
  width:66px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:446px;
  top:134px;
  width:116px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u33 {
  position:absolute;
  left:580px;
  top:139px;
  width:79px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:656px;
  top:135px;
  width:116px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36 {
  position:absolute;
  left:140px;
  top:186px;
  width:66px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:226px;
  top:182px;
  width:116px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u39 {
  position:absolute;
  left:359px;
  top:186px;
  width:79px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:446px;
  top:182px;
  width:116px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u42 {
  position:absolute;
  left:580px;
  top:186px;
  width:66px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:656px;
  top:182px;
  width:116px;
  height:25px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45 {
  position:absolute;
  left:140px;
  top:300px;
  width:92px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:232px;
  top:296px;
  width:116px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u48 {
  position:absolute;
  left:354px;
  top:300px;
  width:92px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:446px;
  top:300px;
  width:116px;
  height:25px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u51 {
  position:absolute;
  left:580px;
  top:300px;
  width:66px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:656px;
  top:296px;
  width:116px;
  height:25px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u54 {
  position:absolute;
  left:140px;
  top:338px;
  width:79px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:232px;
  top:331px;
  width:116px;
  height:25px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u57 {
  position:absolute;
  left:140px;
  top:244px;
  width:629px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:354px;
  top:339px;
  width:66px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:446px;
  top:335px;
  width:116px;
  height:25px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u62 {
  position:absolute;
  left:358px;
  top:443px;
  width:66px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:446px;
  top:439px;
  width:116px;
  height:25px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u65 {
  position:absolute;
  left:139px;
  top:374px;
  width:629px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:140px;
  top:404px;
  width:92px;
  height:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:232px;
  top:400px;
  width:116px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u70 {
  position:absolute;
  left:354px;
  top:404px;
  width:92px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:446px;
  top:404px;
  width:116px;
  height:25px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u73 {
  position:absolute;
  left:580px;
  top:404px;
  width:66px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:656px;
  top:400px;
  width:116px;
  height:25px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u76 {
  position:absolute;
  left:140px;
  top:442px;
  width:79px;
  height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:232px;
  top:435px;
  width:116px;
  height:25px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
