body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:1440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5957 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:1210px;
  height:1440px;
}
#u5958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:712px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5959 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:960px;
  height:50px;
}
#u5960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:1390px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5961 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:220px;
  height:1390px;
}
#u5962 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:687px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5963 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:1210px;
  height:50px;
}
#u5964 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5965 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:50px;
  width:100px;
  height:40px;
}
#u5966 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u5967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5967 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:90px;
  width:990px;
  height:40px;
}
#u5968 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5969 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:98px;
  width:76px;
  height:25px;
}
#u5969_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5970 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:205px;
  width:40px;
  height:16px;
}
#u5971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5972 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:205px;
  width:53px;
  height:16px;
}
#u5973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5974 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:252px;
  width:66px;
  height:16px;
}
#u5975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5976 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:360px;
  width:66px;
  height:16px;
}
#u5977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5978 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:201px;
  width:328px;
  height:25px;
}
#u5978_input {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5979 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:201px;
  width:328px;
  height:25px;
}
#u5979_input {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5980 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:248px;
  width:328px;
  height:25px;
}
#u5980_input {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5981 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:360px;
  width:810px;
  height:90px;
}
#u5981_input {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:90px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5982 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:248px;
  width:66px;
  height:16px;
}
#u5983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5984 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:244px;
  width:328px;
  height:25px;
}
#u5984_input {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5985 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:304px;
  width:66px;
  height:16px;
}
#u5986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5987 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:301px;
  width:79px;
  height:16px;
}
#u5988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5989 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:296px;
  width:326px;
  height:24px;
}
#u5989_input {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5989_input:disabled {
  color:grayText;
}
#u5990 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:297px;
  width:328px;
  height:22px;
}
#u5990_input {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5990_input:disabled {
  color:grayText;
}
