body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:26px;
  top:14px;
  width:864px;
  height:388px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:388px;
}
#u1 {
  position:absolute;
  left:2px;
  top:186px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
