body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:1460px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:1460px;
}
#u2 {
  position:absolute;
  left:2px;
  top:722px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:50px;
  top:64px;
  width:720px;
  height:456px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:456px;
}
#u4 {
  position:absolute;
  left:2px;
  top:220px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:56px;
  top:112px;
  width:710px;
  height:314px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:314px;
}
#u6 {
  position:absolute;
  left:2px;
  top:149px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:74px;
  top:76px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:50px;
  top:24px;
  width:725px;
  height:45px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:142px;
  top:0px;
  width:132px;
  height:40px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:274px;
  top:0px;
  width:139px;
  height:40px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:135px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:413px;
  top:0px;
  width:142px;
  height:40px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:555px;
  top:0px;
  width:165px;
  height:40px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
