body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:100px;
  top:0px;
  width:1100px;
  height:800px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:800px;
}
#u2 {
  position:absolute;
  left:2px;
  top:392px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:150px;
  top:30px;
  width:705px;
  height:35px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:130px;
  top:60px;
  width:650px;
  height:320px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:320px;
}
#u19 {
  position:absolute;
  left:2px;
  top:152px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:132px;
  top:91px;
  width:649px;
  height:287px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:287px;
}
#u21 {
  position:absolute;
  left:2px;
  top:136px;
  width:645px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:155px;
  top:70px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
