body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:60px;
  width:580px;
  height:310px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:310px;
}
#u1 {
  position:absolute;
  left:2px;
  top:147px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:128px;
  top:72px;
  width:27px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:110px;
  top:90px;
  width:580px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:563px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:580px;
  height:1px;
}
#u5 {
  position:absolute;
  left:143px;
  top:111px;
  width:66px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:112px;
  top:150px;
  width:105px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:117px;
  top:190px;
  width:100px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:474px;
  top:325px;
  width:76px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12 {
  position:absolute;
  left:564px;
  top:325px;
  width:76px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:220px;
  top:108px;
  width:434px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:220px;
  top:146px;
  width:434px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:219px;
  top:272px;
  width:430px;
  height:22px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u15_input:disabled {
  color:grayText;
}
#u16 {
  position:absolute;
  left:152px;
  top:274px;
  width:53px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:144px;
  top:232px;
  width:66px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:219px;
  top:230px;
  width:434px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:219px;
  top:184px;
  width:434px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
