body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:830px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:780px;
  height:560px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:560px;
}
#u1 {
  position:absolute;
  left:2px;
  top:272px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:65px;
  top:140px;
  width:755px;
  height:155px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:249px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:253px;
  top:0px;
  width:497px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:493px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:30px;
  width:253px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:249px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:253px;
  top:30px;
  width:497px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:493px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:60px;
  width:253px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:249px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:253px;
  top:60px;
  width:497px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:493px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:90px;
  width:253px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:249px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:253px;
  top:90px;
  width:497px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:493px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:120px;
  width:253px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:253px;
  top:120px;
  width:497px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:76px;
  top:85px;
  width:100px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u24 {
  position:absolute;
  left:202px;
  top:85px;
  width:100px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u25 {
  position:absolute;
  left:490px;
  top:85px;
  width:100px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u26 {
  position:absolute;
  left:350px;
  top:85px;
  width:100px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u27 {
  position:absolute;
  left:640px;
  top:85px;
  width:100px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u28 {
  position:absolute;
  left:143px;
  top:263px;
  width:90px;
  height:22px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u28_input:disabled {
  color:grayText;
}
#u29 {
  position:absolute;
  left:500px;
  top:320px;
  width:66px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:98px;
  top:320px;
  width:66px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:310px;
  top:410px;
  width:100px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u34 {
  position:absolute;
  left:310px;
  top:454px;
  width:100px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u35 {
  position:absolute;
  left:98px;
  top:346px;
  width:152px;
  height:214px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:214px;
}
#u36 {
  position:absolute;
  left:2px;
  top:99px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:110px;
  top:360px;
  width:114px;
  height:165px;
}
#u37_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u39 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u39_img.selected {
}
#u39.selected {
}
#u40 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
}
#u42 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u38_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43 {
  position:absolute;
  left:20px;
  top:20px;
  width:76px;
  height:20px;
}
#u44 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u45 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:20px;
  top:40px;
  width:89px;
  height:20px;
}
#u47 {
  position:absolute;
  left:22px;
  top:0px;
  width:67px;
  height:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u48 {
  position:absolute;
  left:3px;
  top:2px;
  width:62px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:20px;
  top:60px;
  width:89px;
  height:20px;
}
#u50 {
  position:absolute;
  left:22px;
  top:0px;
  width:67px;
  height:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u51 {
  position:absolute;
  left:3px;
  top:2px;
  width:62px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:20px;
  top:80px;
  width:61px;
  height:20px;
}
#u53 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u53_img.selected {
}
#u53.selected {
}
#u54 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:22px;
  top:0px;
  width:39px;
  height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u56 {
  position:absolute;
  left:3px;
  top:2px;
  width:34px;
  white-space:nowrap;
}
#u52_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57 {
  position:absolute;
  left:20px;
  top:20px;
  width:65px;
  height:20px;
}
#u58 {
  position:absolute;
  left:22px;
  top:0px;
  width:43px;
  height:20px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u59 {
  position:absolute;
  left:3px;
  top:2px;
  width:38px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:20px;
  top:120px;
  width:61px;
  height:20px;
}
#u61 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u61_img.selected {
}
#u61.selected {
}
#u62 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:22px;
  top:0px;
  width:39px;
  height:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u64 {
  position:absolute;
  left:3px;
  top:2px;
  width:34px;
  white-space:nowrap;
}
#u60_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65 {
  position:absolute;
  left:20px;
  top:20px;
  width:63px;
  height:20px;
}
#u66 {
  position:absolute;
  left:22px;
  top:0px;
  width:41px;
  height:20px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
}
#u67 {
  position:absolute;
  left:3px;
  top:2px;
  width:36px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:490px;
  top:346px;
  width:152px;
  height:214px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:214px;
}
#u69 {
  position:absolute;
  left:2px;
  top:99px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:521px;
  top:360px;
  width:49px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
