body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:1440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6598 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:1210px;
  height:1440px;
}
#u6599 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:712px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6600 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:960px;
  height:50px;
}
#u6601 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:1390px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6602 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:220px;
  height:1390px;
}
#u6603 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:687px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6604 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:1210px;
  height:50px;
}
#u6605 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6606 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:50px;
  width:110px;
  height:40px;
}
#u6607 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u6608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:501px;
}
#u6608 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:90px;
  width:990px;
  height:501px;
}
#u6609 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:242px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:501px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6610 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:90px;
  width:61px;
  height:501px;
}
#u6611 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:242px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
