body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1242px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:541px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:9px;
  width:1226px;
  height:541px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:262px;
  width:1222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:58px;
  width:749px;
  height:1px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:20px;
  width:65px;
  height:25px;
}
#u957_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:19px;
  width:193px;
  height:25px;
}
#u958_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:84px;
  width:846px;
  height:287px;
}
#u960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:30px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:323px;
  word-wrap:break-word;
}
#u962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:0px;
  width:78px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:140px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:0px;
  width:102px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:0px;
  width:99px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:36px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:327px;
  height:36px;
  color:#0033FF;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:323px;
  word-wrap:break-word;
}
#u974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:30px;
  width:78px;
  height:36px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:30px;
  width:95px;
  height:36px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:30px;
  width:140px;
  height:36px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:30px;
  width:102px;
  height:36px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:30px;
  width:99px;
  height:36px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:36px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:327px;
  height:36px;
  color:#0033FF;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:323px;
  word-wrap:break-word;
}
#u986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:66px;
  width:78px;
  height:36px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:66px;
  width:95px;
  height:36px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:66px;
  width:140px;
  height:36px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:66px;
  width:102px;
  height:36px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:66px;
  width:99px;
  height:36px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:36px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:327px;
  height:36px;
  color:#0033FF;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:323px;
  word-wrap:break-word;
}
#u998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:102px;
  width:78px;
  height:36px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u1000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:102px;
  width:95px;
  height:36px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u1002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:102px;
  width:140px;
  height:36px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u1004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:102px;
  width:102px;
  height:36px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u1006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:102px;
  width:99px;
  height:36px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u1008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:30px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:327px;
  height:30px;
  color:#000000;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:323px;
  word-wrap:break-word;
}
#u1010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:138px;
  width:78px;
  height:30px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:138px;
  width:95px;
  height:30px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:138px;
  width:140px;
  height:30px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:138px;
  width:102px;
  height:30px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:138px;
  width:99px;
  height:30px;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:38px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:327px;
  height:38px;
  color:#0033FF;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:323px;
  word-wrap:break-word;
}
#u1022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:38px;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:168px;
  width:78px;
  height:38px;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:74px;
  word-wrap:break-word;
}
#u1024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:168px;
  width:95px;
  height:38px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  word-wrap:break-word;
}
#u1026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:38px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:168px;
  width:140px;
  height:38px;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u1028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:38px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:168px;
  width:102px;
  height:38px;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:98px;
  word-wrap:break-word;
}
#u1030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:38px;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:168px;
  width:99px;
  height:38px;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:95px;
  word-wrap:break-word;
}
#u1032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:38px;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:206px;
  width:327px;
  height:38px;
  color:#0033FF;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:323px;
  word-wrap:break-word;
}
#u1034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:38px;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:206px;
  width:78px;
  height:38px;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:74px;
  word-wrap:break-word;
}
#u1036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:206px;
  width:95px;
  height:38px;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  word-wrap:break-word;
}
#u1038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:38px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:206px;
  width:140px;
  height:38px;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u1040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:38px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:206px;
  width:102px;
  height:38px;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:98px;
  word-wrap:break-word;
}
#u1042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:38px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:206px;
  width:99px;
  height:38px;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:95px;
  word-wrap:break-word;
}
#u1044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:38px;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:244px;
  width:327px;
  height:38px;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:323px;
  word-wrap:break-word;
}
#u1046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:38px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:244px;
  width:78px;
  height:38px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:244px;
  width:95px;
  height:38px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:38px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:244px;
  width:140px;
  height:38px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:38px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:244px;
  width:102px;
  height:38px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:38px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:244px;
  width:99px;
  height:38px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:21px;
  width:101px;
  height:22px;
}
#u1056_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1056_input:disabled {
  color:grayText;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:21px;
  width:101px;
  height:22px;
}
#u1057_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1057_input:disabled {
  color:grayText;
}
#u1058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:24px;
  width:61px;
  height:16px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:24px;
  width:19px;
  height:16px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1062_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:0px;
  width:20px;
  height:27px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_ann {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-4px;
  width:1px;
  height:1px;
}
