body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:50px;
  top:0px;
  width:1210px;
  height:1440px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:1440px;
}
#u2 {
  position:absolute;
  left:2px;
  top:712px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:50px;
  top:0px;
  width:960px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:50px;
  top:50px;
  width:220px;
  height:1390px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:1390px;
}
#u6 {
  position:absolute;
  left:2px;
  top:687px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:50px;
  top:0px;
  width:1210px;
  height:50px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:349px;
  top:78px;
  width:201px;
  height:19px;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:295px;
  top:70px;
  width:35px;
  height:35px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:318px;
  top:130px;
  width:144px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:612px;
  top:128px;
  width:118px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:880px;
  top:128px;
  width:27px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:909px;
  top:124px;
  width:25px;
  height:22px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u20 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:318px;
  top:156px;
  width:139px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:612px;
  top:154px;
  width:144px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:318px;
  top:182px;
  width:221px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:318px;
  top:213px;
  width:670px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:310px;
  top:260px;
  width:220px;
  height:40px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:530px;
  top:260px;
  width:226px;
  height:40px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:222px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:756px;
  top:260px;
  width:194px;
  height:40px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:190px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:310px;
  top:341px;
  width:834px;
  height:429px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:834px;
  height:429px;
}
#u36 {
  position:absolute;
  left:2px;
  top:206px;
  width:830px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:391px;
  top:375px;
  width:49px;
  height:35px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:35px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:485px;
  top:411px;
  width:138px;
  height:19px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:19px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:485px;
  top:375px;
  width:66px;
  height:19px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:374px;
  top:452px;
  width:709px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:692px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:709px;
  height:1px;
}
#u44 {
  position:absolute;
  left:391px;
  top:500px;
  width:49px;
  height:35px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:35px;
}
#u45 {
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:485px;
  top:536px;
  width:138px;
  height:19px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:19px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:485px;
  top:500px;
  width:66px;
  height:19px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:374px;
  top:590px;
  width:709px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:692px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:709px;
  height:1px;
}
