body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:50px;
  top:0px;
  width:1210px;
  height:1440px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:1440px;
}
#u2 {
  position:absolute;
  left:2px;
  top:712px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:50px;
  top:0px;
  width:960px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:50px;
  top:50px;
  width:220px;
  height:1390px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:1390px;
}
#u6 {
  position:absolute;
  left:2px;
  top:687px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:50px;
  top:0px;
  width:1210px;
  height:50px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:270px;
  top:50px;
  width:100px;
  height:40px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:270px;
  top:90px;
  width:990px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:284px;
  top:149px;
  width:755px;
  height:226px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:68px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:68px;
}
#u15 {
  position:absolute;
  left:2px;
  top:26px;
  width:55px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:59px;
  top:0px;
  width:168px;
  height:68px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:68px;
}
#u17 {
  position:absolute;
  left:2px;
  top:26px;
  width:164px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:227px;
  top:0px;
  width:169px;
  height:68px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:68px;
}
#u19 {
  position:absolute;
  left:2px;
  top:26px;
  width:165px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:396px;
  top:0px;
  width:196px;
  height:68px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:68px;
}
#u21 {
  position:absolute;
  left:2px;
  top:26px;
  width:192px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:592px;
  top:0px;
  width:158px;
  height:68px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:68px;
}
#u23 {
  position:absolute;
  left:2px;
  top:26px;
  width:154px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:68px;
  width:59px;
  height:68px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:68px;
}
#u25 {
  position:absolute;
  left:2px;
  top:26px;
  width:55px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:59px;
  top:68px;
  width:168px;
  height:68px;
  color:#000000;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:68px;
}
#u27 {
  position:absolute;
  left:2px;
  top:26px;
  width:164px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:227px;
  top:68px;
  width:169px;
  height:68px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:68px;
}
#u29 {
  position:absolute;
  left:2px;
  top:26px;
  width:165px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:396px;
  top:68px;
  width:196px;
  height:68px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:68px;
}
#u31 {
  position:absolute;
  left:2px;
  top:26px;
  width:192px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:592px;
  top:68px;
  width:158px;
  height:68px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:68px;
}
#u33 {
  position:absolute;
  left:2px;
  top:26px;
  width:154px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:136px;
  width:59px;
  height:49px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:49px;
}
#u35 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:59px;
  top:136px;
  width:168px;
  height:49px;
  color:#000000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:49px;
}
#u37 {
  position:absolute;
  left:2px;
  top:16px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:227px;
  top:136px;
  width:169px;
  height:49px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:49px;
}
#u39 {
  position:absolute;
  left:2px;
  top:16px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:396px;
  top:136px;
  width:196px;
  height:49px;
  text-align:right;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:49px;
}
#u41 {
  position:absolute;
  left:2px;
  top:16px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:592px;
  top:136px;
  width:158px;
  height:49px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:49px;
}
#u43 {
  position:absolute;
  left:2px;
  top:16px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:185px;
  width:59px;
  height:36px;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:36px;
}
#u45 {
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:59px;
  top:185px;
  width:168px;
  height:36px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:36px;
}
#u47 {
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:227px;
  top:185px;
  width:169px;
  height:36px;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:36px;
}
#u49 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:396px;
  top:185px;
  width:196px;
  height:36px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:36px;
}
#u51 {
  position:absolute;
  left:2px;
  top:10px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:592px;
  top:185px;
  width:158px;
  height:36px;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:36px;
}
#u53 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:284px;
  top:98px;
  width:76px;
  height:25px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u55 {
  position:absolute;
  left:374px;
  top:98px;
  width:76px;
  height:25px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u56 {
  position:absolute;
  left:460px;
  top:98px;
  width:76px;
  height:25px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u57 {
  position:absolute;
  left:1220px;
  top:98px;
  width:20px;
  height:25px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u57_ann {
  position:absolute;
  left:1233px;
  top:94px;
  width:1px;
  height:1px;
}
#u58 {
  position:absolute;
  left:1022px;
  top:101px;
  width:40px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:1062px;
  top:97px;
  width:62px;
  height:22px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u60_input:disabled {
  color:grayText;
}
#u60_ann {
  position:absolute;
  left:1117px;
  top:93px;
  width:1px;
  height:1px;
}
#u61 {
  position:absolute;
  left:1150px;
  top:97px;
  width:50px;
  height:25px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u62 {
  position:absolute;
  left:888px;
  top:99px;
  width:40px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:928px;
  top:95px;
  width:52px;
  height:25px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u65 {
  position:absolute;
  left:984px;
  top:95px;
  width:20px;
  height:25px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u66 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_ann {
  position:absolute;
  left:997px;
  top:91px;
  width:1px;
  height:1px;
}
