body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:735px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:180px;
  top:2px;
  width:555px;
  height:413px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:413px;
}
#u1 {
  position:absolute;
  left:2px;
  top:198px;
  width:551px;
  visibility:hidden;
  word-wrap:break-word;
}
