body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:50px;
  top:0px;
  width:1100px;
  height:930px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:930px;
}
#u2 {
  position:absolute;
  left:2px;
  top:457px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:80px;
  top:80px;
  width:263px;
  height:231px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:143px;
  top:0px;
  width:115px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:36px;
  width:143px;
  height:36px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:143px;
  top:36px;
  width:115px;
  height:36px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:72px;
  width:143px;
  height:30px;
  text-align:right;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:143px;
  top:72px;
  width:115px;
  height:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:102px;
  width:143px;
  height:30px;
  text-align:right;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:143px;
  top:102px;
  width:115px;
  height:30px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:132px;
  width:143px;
  height:30px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:143px;
  top:132px;
  width:115px;
  height:30px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:162px;
  width:143px;
  height:32px;
  text-align:right;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:32px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:139px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:143px;
  top:162px;
  width:115px;
  height:32px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:32px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:194px;
  width:143px;
  height:32px;
  text-align:right;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:32px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:143px;
  top:194px;
  width:115px;
  height:32px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:32px;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:80px;
  top:25px;
  width:100px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u33 {
  position:absolute;
  left:210px;
  top:25px;
  width:100px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u34 {
  position:absolute;
  left:340px;
  top:25px;
  width:100px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u35 {
  position:absolute;
  left:380px;
  top:82px;
  width:305px;
  height:95px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
