body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:200px;
  top:70px;
  width:560px;
  height:270px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:270px;
}
#u1 {
  position:absolute;
  left:2px;
  top:127px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:220px;
  top:90px;
  width:110px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:330px;
  top:90px;
  width:110px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:220px;
  top:120px;
  width:501px;
  height:189px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:189px;
}
#u7 {
  position:absolute;
  left:2px;
  top:86px;
  width:497px;
  visibility:hidden;
  word-wrap:break-word;
}
