body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:50px;
  top:0px;
  width:1210px;
  height:1440px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:1440px;
}
#u2 {
  position:absolute;
  left:2px;
  top:712px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:50px;
  top:0px;
  width:960px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:50px;
  top:50px;
  width:220px;
  height:1390px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:1390px;
}
#u6 {
  position:absolute;
  left:2px;
  top:687px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:50px;
  top:0px;
  width:1210px;
  height:50px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:270px;
  top:50px;
  width:100px;
  height:40px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:270px;
  top:90px;
  width:990px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1193px;
  top:97px;
  width:50px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u14 {
  position:absolute;
  left:843px;
  top:98px;
  width:160px;
  height:22px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u14_input:disabled {
  color:grayText;
}
#u15 {
  position:absolute;
  left:281px;
  top:154px;
  width:774px;
  height:153px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:118px;
  top:0px;
  width:164px;
  height:36px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:282px;
  top:0px;
  width:108px;
  height:36px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:390px;
  top:0px;
  width:95px;
  height:36px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:485px;
  top:0px;
  width:75px;
  height:36px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:560px;
  top:0px;
  width:117px;
  height:36px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:36px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:677px;
  top:0px;
  width:92px;
  height:36px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:36px;
  width:118px;
  height:52px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:52px;
}
#u31 {
  position:absolute;
  left:2px;
  top:18px;
  width:114px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:118px;
  top:36px;
  width:164px;
  height:52px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:52px;
}
#u33 {
  position:absolute;
  left:2px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:282px;
  top:36px;
  width:108px;
  height:52px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:52px;
}
#u35 {
  position:absolute;
  left:2px;
  top:18px;
  width:104px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:390px;
  top:36px;
  width:95px;
  height:52px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:52px;
}
#u37 {
  position:absolute;
  left:2px;
  top:18px;
  width:91px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:485px;
  top:36px;
  width:75px;
  height:52px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:52px;
}
#u39 {
  position:absolute;
  left:2px;
  top:18px;
  width:71px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:560px;
  top:36px;
  width:117px;
  height:52px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:52px;
}
#u41 {
  position:absolute;
  left:2px;
  top:18px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:677px;
  top:36px;
  width:92px;
  height:52px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:52px;
}
#u43 {
  position:absolute;
  left:2px;
  top:18px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:88px;
  width:118px;
  height:30px;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:118px;
  top:88px;
  width:164px;
  height:30px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:282px;
  top:88px;
  width:108px;
  height:30px;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:390px;
  top:88px;
  width:95px;
  height:30px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:485px;
  top:88px;
  width:75px;
  height:30px;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:560px;
  top:88px;
  width:117px;
  height:30px;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:677px;
  top:88px;
  width:92px;
  height:30px;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:0px;
  top:118px;
  width:118px;
  height:30px;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:118px;
  top:118px;
  width:164px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:282px;
  top:118px;
  width:108px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u63 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:390px;
  top:118px;
  width:95px;
  height:30px;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:485px;
  top:118px;
  width:75px;
  height:30px;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u67 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:560px;
  top:118px;
  width:117px;
  height:30px;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:677px;
  top:118px;
  width:92px;
  height:30px;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u71 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:1023px;
  top:99px;
  width:160px;
  height:22px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u72_input:disabled {
  color:grayText;
}
#u73 {
  position:absolute;
  left:330px;
  top:97px;
  width:62px;
  height:22px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u73_input:disabled {
  color:grayText;
}
#u74 {
  position:absolute;
  left:392px;
  top:99px;
  width:27px;
  height:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:419px;
  top:95px;
  width:69px;
  height:25px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u77 {
  position:absolute;
  left:488px;
  top:95px;
  width:20px;
  height:25px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u78 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_ann {
  position:absolute;
  left:501px;
  top:91px;
  width:1px;
  height:1px;
}
#u79 {
  position:absolute;
  left:518px;
  top:99px;
  width:27px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:545px;
  top:95px;
  width:69px;
  height:25px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82 {
  position:absolute;
  left:614px;
  top:95px;
  width:20px;
  height:25px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u83 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_ann {
  position:absolute;
  left:627px;
  top:91px;
  width:1px;
  height:1px;
}
#u84 {
  position:absolute;
  left:673px;
  top:98px;
  width:137px;
  height:22px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u84_input:disabled {
  color:grayText;
}
