body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:587px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:111px;
  top:40px;
  width:476px;
  height:560px;
  color:#000000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:560px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  white-space:nowrap;
}
