body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:48px;
  top:0px;
  width:1100px;
  height:930px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:930px;
}
#u3 {
  position:absolute;
  left:2px;
  top:457px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:434px;
  top:4px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:50px;
  top:26px;
  width:1100px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:1083px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1100px;
  height:1px;
}
#u7 {
  position:absolute;
  left:50px;
  top:86px;
  width:1100px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:1083px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1100px;
  height:1px;
}
#u8 {
  position:absolute;
  left:60px;
  top:36px;
  width:53px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:137px;
  top:36px;
  width:53px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:210px;
  top:36px;
  width:27px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:61px;
  top:64px;
  width:53px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:138px;
  top:64px;
  width:53px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:211px;
  top:64px;
  width:53px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:289px;
  top:64px;
  width:53px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:369px;
  top:64px;
  width:27px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:70px;
  top:110px;
  width:220px;
  height:490px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:490px;
}
#u25 {
  position:absolute;
  left:2px;
  top:237px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:62px;
  top:350px;
  width:490px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:473px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:490px;
  height:1px;
}
#u27 {
  position:absolute;
  left:292px;
  top:273px;
  width:14px;
  height:19px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:19px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-6px;
  width:10px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:322px;
  top:110px;
  width:788px;
  height:430px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:430px;
}
#u30 {
  position:absolute;
  left:2px;
  top:207px;
  width:784px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:340px;
  top:320px;
  width:760px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:743px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:760px;
  height:1px;
}
#u32 {
  position:absolute;
  left:690px;
  top:120px;
  width:10px;
  height:420px;
}
#u32_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u32_end {
  position:absolute;
  left:-5px;
  top:403px;
  width:20px;
  height:18px;
}
#u32_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:420px;
}
#u33 {
  position:absolute;
  left:322px;
  top:550px;
  width:788px;
  height:50px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:50px;
}
#u34 {
  position:absolute;
  left:2px;
  top:17px;
  width:784px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:340px;
  top:562px;
  width:50px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u36 {
  position:absolute;
  left:460px;
  top:562px;
  width:50px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u37 {
  position:absolute;
  left:770px;
  top:562px;
  width:50px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u38 {
  position:absolute;
  left:840px;
  top:562px;
  width:50px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u39 {
  position:absolute;
  left:910px;
  top:562px;
  width:50px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u40 {
  position:absolute;
  left:980px;
  top:562px;
  width:50px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u41 {
  position:absolute;
  left:580px;
  top:562px;
  width:50px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u42 {
  position:absolute;
  left:87px;
  top:159px;
  width:170px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43 {
  position:absolute;
  left:83px;
  top:200px;
  width:196px;
  height:185px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:39px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:43px;
  top:0px;
  width:56px;
  height:30px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:99px;
  top:0px;
  width:43px;
  height:30px;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:39px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:142px;
  top:0px;
  width:49px;
  height:30px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:30px;
  width:43px;
  height:30px;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:43px;
  top:30px;
  width:56px;
  height:30px;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:99px;
  top:30px;
  width:43px;
  height:30px;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:142px;
  top:30px;
  width:49px;
  height:30px;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:0px;
  top:60px;
  width:43px;
  height:30px;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:43px;
  top:60px;
  width:56px;
  height:30px;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u63 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:99px;
  top:60px;
  width:43px;
  height:30px;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:142px;
  top:60px;
  width:49px;
  height:30px;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u67 {
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:0px;
  top:90px;
  width:43px;
  height:30px;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:43px;
  top:90px;
  width:56px;
  height:30px;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u71 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:99px;
  top:90px;
  width:43px;
  height:30px;
  text-align:center;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u73 {
  position:absolute;
  left:2px;
  top:7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:142px;
  top:90px;
  width:49px;
  height:30px;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u75 {
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:0px;
  top:120px;
  width:43px;
  height:30px;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:43px;
  top:120px;
  width:56px;
  height:30px;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:99px;
  top:120px;
  width:43px;
  height:30px;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:142px;
  top:120px;
  width:49px;
  height:30px;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:0px;
  top:150px;
  width:43px;
  height:30px;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:43px;
  top:150px;
  width:56px;
  height:30px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:99px;
  top:150px;
  width:43px;
  height:30px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:142px;
  top:150px;
  width:49px;
  height:30px;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u91 {
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:90px;
  top:130px;
  width:60px;
  height:20px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u93 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:160px;
  top:130px;
  width:60px;
  height:20px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u95 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:226px;
  top:130px;
  width:60px;
  height:20px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u97 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
