body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:50px;
  top:0px;
  width:960px;
  height:2760px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:2760px;
}
#u3 {
  position:absolute;
  left:2px;
  top:1372px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:51px;
  top:5px;
  width:50px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:153px;
  top:18px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:255px;
  top:18px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:399px;
  top:18px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:779px;
  top:10px;
  width:100px;
  height:40px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u15 {
  position:absolute;
  left:909px;
  top:10px;
  width:100px;
  height:40px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u16 {
  position:absolute;
  left:200px;
  top:140px;
  width:620px;
  height:340px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:340px;
}
#u17 {
  position:absolute;
  left:2px;
  top:162px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:450px;
  top:152px;
  width:97px;
  height:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:368px;
  top:230px;
  width:232px;
  height:45px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:368px;
  top:290px;
  width:232px;
  height:45px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:368px;
  top:360px;
  width:232px;
  height:45px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23 {
  position:absolute;
  left:368px;
  top:424px;
  width:66px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
