body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:2000px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:2000px;
}
#u2 {
  position:absolute;
  left:2px;
  top:992px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_ann {
  position:absolute;
  left:1103px;
  top:-4px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_ann {
  position:absolute;
  left:183px;
  top:-4px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:1090px;
  top:25px;
  width:20px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:0px;
  top:50px;
  width:190px;
  height:478px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:478px;
}
#u9 {
  position:absolute;
  left:2px;
  top:231px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_ann {
  position:absolute;
  left:183px;
  top:46px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:70px;
  top:89px;
  width:97px;
  height:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:0px;
  top:127px;
  width:190px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:173px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u13 {
  position:absolute;
  left:30px;
  top:93px;
  width:20px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:70px;
  top:182px;
  width:97px;
  height:28px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:0px;
  top:220px;
  width:190px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:173px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u18 {
  position:absolute;
  left:30px;
  top:186px;
  width:20px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:65px;
  top:287px;
  width:121px;
  height:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:0px;
  top:325px;
  width:190px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:173px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u23 {
  position:absolute;
  left:30px;
  top:291px;
  width:20px;
  height:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:47px;
  top:382px;
  width:145px;
  height:28px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:0px;
  top:420px;
  width:190px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:173px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u28 {
  position:absolute;
  left:30px;
  top:386px;
  width:20px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:989px;
  top:16px;
  width:97px;
  height:28px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:190px;
  top:110px;
  width:920px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u33 {
  position:absolute;
  left:215px;
  top:74px;
  width:81px;
  height:26px;
  font-size:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:215px;
  top:162px;
  width:171px;
  height:405px;
}
#u35_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
}
#u37 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u37_img.selected {
}
#u37.selected {
}
#u38 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:22px;
  top:0px;
  width:19px;
  height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u40 {
  position:absolute;
  left:3px;
  top:2px;
  width:14px;
  white-space:nowrap;
}
#u36_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41 {
  position:absolute;
  left:20px;
  top:20px;
  width:54px;
  height:20px;
}
#u42 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u42_img.selected {
}
#u42.selected {
}
#u43 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
}
#u45 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u41_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u46 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u47 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u47_img.selected {
}
#u47.selected {
}
#u48 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u50 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u46_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u52 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u53 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u55 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u56 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u58 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u59 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:20px;
  top:80px;
  width:80px;
  height:20px;
}
#u61 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u62 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:20px;
  top:100px;
  width:80px;
  height:20px;
}
#u64 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u65 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:20px;
  top:140px;
  width:93px;
  height:20px;
}
#u67 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u68 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:20px;
  top:160px;
  width:106px;
  height:20px;
}
#u70 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u71 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:20px;
  top:180px;
  width:106px;
  height:20px;
}
#u73 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u74 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:20px;
  top:220px;
  width:54px;
  height:20px;
}
#u76 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u76_img.selected {
}
#u76.selected {
}
#u77 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
}
#u79 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u75_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u80 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u81 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u81_img.selected {
}
#u81.selected {
}
#u82 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u84 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u80_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u85 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u86 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u87 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u89 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u90 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:20px;
  top:80px;
  width:80px;
  height:20px;
}
#u92 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u92_img.selected {
}
#u92.selected {
}
#u93 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u95 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u91_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u96 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u97 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u98 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u100 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u101 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:20px;
  top:60px;
  width:106px;
  height:20px;
}
#u103 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u104 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:20px;
  top:80px;
  width:106px;
  height:20px;
}
#u106 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u107 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:215px;
  top:131px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:448px;
  top:120px;
  width:10px;
  height:1880px;
}
#u110_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u110_end {
  position:absolute;
  left:-5px;
  top:1863px;
  width:20px;
  height:18px;
}
#u110_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:1880px;
}
#u111 {
  position:absolute;
  left:360px;
  top:216px;
  width:20px;
  height:23px;
}
#u111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u112 {
  position:absolute;
  left:380px;
  top:216px;
  width:20px;
  height:23px;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u113 {
  position:absolute;
  left:400px;
  top:216px;
  width:20px;
  height:23px;
}
#u113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u114 {
  position:absolute;
  left:489px;
  top:131px;
  width:81px;
  height:26px;
  font-size:20px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:528px;
  top:179px;
  width:66px;
  height:16px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:640px;
  top:175px;
  width:200px;
  height:25px;
}
#u118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u119 {
  position:absolute;
  left:528px;
  top:234px;
  width:66px;
  height:16px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:640px;
  top:230px;
  width:200px;
  height:25px;
}
#u121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u122 {
  position:absolute;
  left:550px;
  top:430px;
  width:100px;
  height:25px;
}
#u122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u123 {
  position:absolute;
  left:730px;
  top:430px;
  width:100px;
  height:25px;
}
#u123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u124 {
  position:absolute;
  left:528px;
  top:289px;
  width:66px;
  height:16px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:554px;
  top:340px;
  width:40px;
  height:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:640px;
  top:340px;
  width:200px;
  height:25px;
}
#u128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u129 {
  position:absolute;
  left:640px;
  top:289px;
  width:200px;
  height:22px;
}
#u129_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u129_input:disabled {
  color:grayText;
}
