body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:644px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:109px;
  top:40px;
  width:531px;
  height:295px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:295px;
}
#u1 {
  position:absolute;
  left:2px;
  top:140px;
  width:527px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:106px;
  top:396px;
  width:538px;
  height:314px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:314px;
}
#u3 {
  position:absolute;
  left:2px;
  top:149px;
  width:534px;
  visibility:hidden;
  word-wrap:break-word;
}
