body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:50px;
  top:0px;
  width:1210px;
  height:1440px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:1440px;
}
#u2 {
  position:absolute;
  left:2px;
  top:712px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:50px;
  top:0px;
  width:960px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:50px;
  top:50px;
  width:220px;
  height:1390px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:1390px;
}
#u6 {
  position:absolute;
  left:2px;
  top:687px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:50px;
  top:0px;
  width:1210px;
  height:50px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:270px;
  top:50px;
  width:100px;
  height:40px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:270px;
  top:134px;
  width:990px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:270px;
  top:92px;
  width:100px;
  height:40px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:374px;
  top:92px;
  width:100px;
  height:40px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:290px;
  top:190px;
  width:890px;
  height:370px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:370px;
}
#u18 {
  position:absolute;
  left:2px;
  top:177px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:374px;
  top:228px;
  width:36px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:418px;
  top:224px;
  width:200px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:762px;
  top:229px;
  width:49px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:325px;
  top:321px;
  width:83px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:743px;
  top:269px;
  width:70px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:821px;
  top:265px;
  width:200px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29 {
  position:absolute;
  left:359px;
  top:270px;
  width:49px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:340px;
  top:369px;
  width:70px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:418px;
  top:365px;
  width:603px;
  height:125px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:125px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34 {
  position:absolute;
  left:418px;
  top:318px;
  width:200px;
  height:22px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u34_input:disabled {
  color:grayText;
}
#u35 {
  position:absolute;
  left:821px;
  top:226px;
  width:200px;
  height:22px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u35_input:disabled {
  color:grayText;
}
#u36 {
  position:absolute;
  left:418px;
  top:270px;
  width:200px;
  height:22px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u36_input:disabled {
  color:grayText;
}
#u37 {
  position:absolute;
  left:358px;
  top:520px;
  width:52px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:420px;
  top:516px;
  width:140px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u40 {
  position:absolute;
  left:570px;
  top:516px;
  width:76px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u41 {
  position:absolute;
  left:294px;
  top:142px;
  width:76px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
