body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:50px;
  top:0px;
  width:1210px;
  height:1440px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:1440px;
}
#u2 {
  position:absolute;
  left:2px;
  top:712px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:50px;
  top:0px;
  width:960px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:50px;
  top:50px;
  width:220px;
  height:1390px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:1390px;
}
#u6 {
  position:absolute;
  left:2px;
  top:687px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:50px;
  top:0px;
  width:1210px;
  height:50px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:270px;
  top:50px;
  width:100px;
  height:40px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:270px;
  top:90px;
  width:990px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1174px;
  top:98px;
  width:76px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u14 {
  position:absolute;
  left:300px;
  top:167px;
  width:940px;
  height:213px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:213px;
}
#u15 {
  position:absolute;
  left:2px;
  top:98px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:310px;
  top:190px;
  width:92px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:323px;
  top:240px;
  width:66px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:410px;
  top:187px;
  width:324px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:405px;
  top:230px;
  width:794px;
  height:90px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:90px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:300px;
  top:438px;
  width:940px;
  height:422px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:422px;
}
#u23 {
  position:absolute;
  left:2px;
  top:203px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:324px;
  top:427px;
  width:66px;
  height:19px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:323px;
  top:161px;
  width:53px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:820px;
  top:187px;
  width:66px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:902px;
  top:187px;
  width:338px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31 {
  position:absolute;
  left:354px;
  top:464px;
  width:40px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:811px;
  top:464px;
  width:53px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:302px;
  top:510px;
  width:92px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:798px;
  top:510px;
  width:66px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:328px;
  top:622px;
  width:66px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:414px;
  top:460px;
  width:350px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u42 {
  position:absolute;
  left:874px;
  top:460px;
  width:350px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43 {
  position:absolute;
  left:414px;
  top:510px;
  width:350px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44 {
  position:absolute;
  left:874px;
  top:510px;
  width:350px;
  height:25px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45 {
  position:absolute;
  left:414px;
  top:612px;
  width:810px;
  height:90px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:90px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u46 {
  position:absolute;
  left:351px;
  top:716px;
  width:41px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:412px;
  top:712px;
  width:162px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u49 {
  position:absolute;
  left:605px;
  top:712px;
  width:51px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u50 {
  position:absolute;
  left:412px;
  top:752px;
  width:812px;
  height:60px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:60px;
}
#u51 {
  position:absolute;
  left:2px;
  top:22px;
  width:808px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:328px;
  top:564px;
  width:66px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:784px;
  top:561px;
  width:79px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:412px;
  top:556px;
  width:348px;
  height:24px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u56_input:disabled {
  color:grayText;
}
#u57 {
  position:absolute;
  left:873px;
  top:557px;
  width:351px;
  height:22px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u57_input:disabled {
  color:grayText;
}
